* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: rgb(0, 0, 0);
    --secondary-color:rgb(175, 179, 171);
    --tertiary-color:rgb(39, 109, 66);
}

body {
    background-color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
}
   
    
    /*header attributes*/

    header {
        padding: 20px 35px;
        background-color: rgb(2, 1, 2);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    header h1 {
       
        margin: 0;
        font-size: 36px;
        color: rgb(0, 0, 0);
        
    }

    header h1 .ian {
        color: var(--tertiary-color);
    }

    header a {
        text-decoration: none;
        color: var(--secondary-color);
    }

    header nav {
        margin: 10px 0px;
    }


    header nav ul {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-between;
                  align-items: center;
                  list-style: none;
         }

         header nav ul li a {
            margin: 10px 20px 25px;
            font-size: 30px;
            text-shadow: 0 0 10px rgb(2, 2, 1);
          }

          header nav ul li a:hover {
            background: rgb(39, 109, 66);
            color: rgb(0, 0, 0);
            border-radius: 15px;
            text-shadow: none;
          }
          
         .hero {
             background-image: url("../images/steins-gate.jpeg");
             height: 475px;
             background-size: cover;
             background-position: relative;
             width: 100%;
        
         }

         .hero-cta {
             font-size: 30px;
             color: rgb(175, 179, 171);
             bottom: 30px;
             right: 30px;
             width: 100%;
             
         }

        .about-me {
            padding: 50px;
        }
         

        .intro {
            
            padding: 50px;
        }